@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital@1&display=swap');


a {
    color:#008374;
    text-decoration: none;
  }
  
a:hover {
    color: #00b6a1;
    text-decoration: none;
}


.header {
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
    background-color:#008374;
  }
  
.header.sticked {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  }
  
  .header .logo img {
    width: 80px;
    height: 80px;
  }
  
  .header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: var(--font-primary);
  }
  
  .header .logo h1 span {
    color: #f96f59;
  }
  
  .sticked-header-offset {
    margin-top: 70px;
  }



.main-content {
    overflow-x: hidden;
}

.hero img {
    width: 1438px;
    height: 550px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    font-size: 14px;
    background-color: #008374;
    padding: 50px 0;
    color: white;
  }
  
  .footer .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
  }
  
  .footer .footer-info .logo img {
    width: 250px;
    height: 250px;
  }
  
  .footer .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;

  }
  
  .footer .footer-info p {
    font-size: 14px;

  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    color: rgba(0, 131, 116, 0.8);
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-contact p {
    line-height: 26px;
    margin-top: -6px;
  }
  
  .footer .copyright {
    text-align: center;
  }
  
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer .credits a {
    color: #fff;
  }

/* HalamaE  n BLOG */

.blog {
    margin-top: 75px;
    background-color: #36CFBA;
}

.blog h1 {
    color: #000;
    font-size: 64px;
    font-weight: 400;
    margin-left: 49px;
}

.paragraf {
    padding: 13px;
}

/* halaman About Us */
.title {
    margin-top: 75px;
    background-color: #36CFBA;
}

.title h1 {
    color: #000;
    font-size: 64px;
    font-weight: 400;
    margin-left: 49px;
}

.image {
    padding: 13px;
}

.content {
    padding: 13px;
}

.judul {
    position: absolute;
    top: 102px;
    left: 240px;
    font-size: 40px;
    font-family: sans;
    box-shadow: 0px 6px azure;
    color: azure;
    font-weight: bolder;
    z-index: 3;
}

.subject {
    position: absolute;
    top: 187px;
    left: 256px;
    font-size: 40px;
    font-family: 'Lobster', sans-serif;
    color: #58a5d2;
    font-weight: bolder;
    width: 757px;
    z-index: 2;
    text-align: center;
}

.popup {
    position: absolute;
    left: 36rem;
    top: 19em;
    border: transparent;
    border-radius: 21%;
    width: 155px;
    height: 56px;
    box-shadow: 10px 6px gray;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 2;
}

.left-background {
    width: 36.9em;
    height: 32.5em;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 48.4em;
}

.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    height: 58px;
}

.container-popup ul li:nth-child(1) {
    position: relative;
    left: -10%;
}

.container-popup ul li:nth-child(2) {
    position: relative;
    left: 14%;
}

.container-popup ul li:nth-child(3) {
    position: relative;
    left: 30%;
}

.container-popup ul {
    margin-top: 0px;
    display: flex;
    border-bottom: 2px solid black;
}

.container-popup ul li {
    padding: 0px 20;
    display: flex;
}

.container-popup {
    width: 387px;
    position: absolute;
    top: 213px;
    left: 34em;
    z-index: 4;
    background: rgb(1, 4, 156);
    font-weight: bold;
    display: none;
}

.hero img,
.left-background {
    height: 93vh;
}

.left-background {
    height: 88vh;
}

.judul,
.popup,
.subject {
    left: 9em;
}

.popup {
    left: 33em;
}

.href {
    color: black;
    text-decoration: none;
}

.href:hover {
    color: #000;
}