.navbar-brand img {
    width: 50px;
    height: 50px;
}

.main-content {
    overflow-x: hidden;
}

.hero img {
    width: 1438px;
    height: 741px;
}


 /* Halaman BLOG */

 .blog {
    margin-top: 75px;
    background-color: #36CFBA;
 }

 .blog h1 {
    color: #000;
    font-size: 64px;
    font-weight: 400;
    margin-left: 49px;
 }

 .paragraf {
    padding: 13px;
 }

 /* halaman About Us */
.title {
    margin-top: 75px;
    background-color: #36CFBA;
}
.title h1 {
    color: #000;
    font-size: 64px;
    font-weight: 400;
    margin-left: 49px;
}
.image {
    padding: 13px;
}
.content {
    padding: 13px;
}